:root {
  --black: rgba(56, 56, 56, 1);
  --blue: rgba(79, 120, 254, 1);
  --dark-grey: rgba(192, 192, 192, 1);
  --dark-grey-2: rgba(112, 112, 112, 1);
  --green: rgba(144, 241, 189, 1);
  --light-grey: rgba(169, 169, 177, 1);
  --main: rgba(79, 120, 254, 1);
  --purple: rgba(205, 195, 255, 1);
  --stroke: rgba(216, 216, 216, 1);
}

.screen {
  background-color: #eff3f4;
  min-height: 100vh;
  position: relative;
  background-color: #eff3f4;
  display: flex;
  width: 100%;
}

.left {
  background-image: url("/src/dashboard/img/left.png"); 
  background-size: cover;
  width: 58%;
  background-position: center;
}

.box {
  background-color: #ffffff;
  width: 42%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 8px;
  padding: 132px;
}

.main-title {
  color: #383838;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 600;
}

.text {
  color: #707070;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 40px 0px;
}

.box2 {
  background-color: #eff3f4;
  border: none;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 25px;
  outline: none;
  width: 100%;
}
.login {
  background-color: #4F78FE;
  border: none;
  border-radius: 14px;
  color: #fff;
  padding: 15px 0px;
  width: 100%;
}

.text-wrapper-2 {
  color: #00000033;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 700;
}

.forgot {
  color: var(--blue);
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 700;
  align-self: flex-end;
  padding-right: 5px;
}