:root {
  --black: rgba(56, 56, 56, 1);
  --blue: rgba(79, 120, 254, 1);
  --dark-grey: rgba(192, 192, 192, 1);
  --dark-grey-2: rgba(112, 112, 112, 1);
  --green: rgba(144, 241, 189, 1);
  --light-grey: rgba(169, 169, 177, 1);
  --main: rgba(79, 120, 254, 1);
  --purple: rgba(205, 195, 255, 1);
  --stroke: rgba(216, 216, 216, 1);
}

.coupon-screen {
  background-color: #eff3f4;
  height: 100vh;
  /* position: relative; */
  background-color: #eff3f4;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  width: 100%;
  /* padding-bottom: 2000px; */
  overflow: scroll;
}
.group-11 {
  left: 87.5vw;
  /* position: absolute; */
  top: 3.8vh;
}

.profile {
  height: 42px;
  object-fit: contain;
}


.text-wrapper-7 {
  color: var(--dark-grey-2);
  font-family: "Poppins", Helvetica;
  font-size: 28px;
  font-weight: 700;
  left: 19.6vw;
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  top: 4.3vh;
}
.card-top {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;


}
.card-wrap-3 {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  left: 19.6vw;
  position: absolute;
  top: 39.3vh;
  width: 51vw;
}
.card-wrap-4 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 40px;
  position: relative;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-right: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.card-wrap-4.active {
  background-color: var(--blue);
}

.input-field-coupon {
  background-color: white;
  padding: 15px 40px;
  width: 100%;
  border-radius: 16px;
  border: none;
  outline: none;
}

.coupon-card {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin-top: 15px;
}
.create-coupon {
  /* background-color: #ffffff; */
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32.4vh;
  /* left: 55vw; */
  /* position: absolute; */
  /* top: 49.3vh; */
  width: 18vw;
}
.coupon-wrapper-1 {
  background-color: #ffffff;
  border-radius: 24px;
  height: 32.4vh;
  /* left: 55vw; */
  /* position: absolute; */
  /* top: 49.3vh; */
  width: 18vw;
}
.coupon-wrapper-2 {
  background-color: #ffffff;
  border-radius: 24px;
  height: 32.4vh;
  /* left: 55vw; */
  /* position: absolute; */
  /* top: 49.3vh; */
  width: 18vw;
  /* margin-bottom: 100px; */
}

/* .card {
    width: 269px !important;
    height: 430px !important;
    position: absolute !important;
    top: 60% !important;
    left: 27% !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 24px !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;
    display: flex;
  }  */
body {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.913);
  font-family: Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  body {
    background-color: rgba(255, 0, 0, 0.913);
  }
}

.header {
  width: 210px;
  height: 48px;
  top: 43px;
  left: 250px;
  color: rgb(98, 93, 93);
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.header:hover {
  transform: scale(1.1) rotateX(10deg) rotateY(10deg);
}
/* .card {
    width: 269px !important;
    height: 430px !important;
    position: absolute !important;
    top: 60% !important;
    left: 27% !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 24px !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;
    display: flex;
  }  */
  .subscription-card {
    border-radius: 24px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 217px;
    color: #707070;
}
.subscription-card-create {
  background: #fff;
  height: 100%;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  min-height: 217px;
}
.subscription-card.active {
  transition: all 200ms ease;
  background-color: #4f78fe;
  color: white;
}

.button {
  border: none;
  color: #333;
  font-size: 16px;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button span {
  margin: -5px 0px;
  font-size: 41px;
}

.left-entry {
  font-size: 14px;
}

.right-entry {
  font-size: 14px;
}
.formheader {
  margin-left: 125px;
  font-size: larger;
  font-style: bold;
}
/* .coupon-items {
  margin: 30px;
} */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition: opacity 0.3s ease-in-out;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  border-radius: 24px;
  background: #fff;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}
.modal-wrapper,
.modal-content {
  transform: scale(1);
}
.modal-content.open {
  opacity: 1;
}
.text-wrapper-modal {
  color: #383838;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* .modal-content input[type="text"] {
  text-align: left !important;
} */

.modal-select {
  width: 100%;
  background-color: rgba(211, 211, 211, 0.26);
  border-radius: 10px;
  border: none;
  height: 40px;
  outline: none;
  padding: 0px 10px;
}
.d-none{
  display: none;
}
.modal-content input {
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 41px;
  background-color: #eff3f4;
  outline: none;
  padding: 0px 11px;
}
.modal-content h5 {
  color: var(--light-grey, #a9a9b1);
  font-family: Poppins;
  font-size: 16px;
}
.content-wrapper-1 {
  display: flex;
  margin-top: 10px;
  gap: 15px;
}
.content-wrapper-2 {
  display: flex;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 15px;
}
.content-wrapper-3 {
  margin-top: 10px;
}
.content-wrapper-4 {
  margin-top: 15px;
}


.modal-type,
.modal-code {

}
.input-field-search {
  background-color: white;
  padding: 15px 40px;
  width: 100%;
  border-radius: 16px;
  border: none;
  outline: none;
}
.modal-desc {
  width: 366px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 8px;
  border: none;
  background-color: #eff3f4;
  border: 1px solid rgba(239, 243, 244, 1);
  outline: none;
}
.modal-buttons {
  margin-top: 15px;
}

.modal-buttons button {
  border-radius: 8px;
  background: var(--main, #4f78fe);
  border: none;
  padding: 5px 40px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.modal-create {
  margin-right: 20px;
}

.modal-buttons button:last-child {
  margin-right: 0;
}

/* Filter.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap");
@import "~font-awesome/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap");
