body {
  background-color: rgba(239, 243, 244, 1);
}

:where(.css-dev-only-do-not-override-18iikkb).ant-tag-green  {
  color: white;
  background: rgba(144, 241, 189, 1);
  width: 6rem;
  border-radius: 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  left: 3rem;
}
 
:where(.css-dev-only-do-not-override-18iikkb).ant-tag-red {
  color: white;
  background: rgba(241, 144, 144, 1);
  width: 6rem;
  border-radius: 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  left: 3rem;
}

:where(.css-dev-only-do-not-override-18iikkb).ant-table-wrapper .ant-table-thead >tr>th {
  text-align: center;
}
:where(.css-dev-only-do-not-override-18iikkb).ant-table-wrapper .ant-table-tbody >tr >td {
  text-align: center;
}

:where(.css-dev-only-do-not-override-18iikkb).ant-table-wrapper .ant-table {
  border-radius: 1rem;
}

:where(.css-dev-only-do-not-override-18iikkb).ant-table-wrapper {
  width: 73rem;
}


.middle {
  text-align: center;
  color: rgba(79, 120, 254, 1);
}

.headd {
  position: absolute;
  top: 35vh;
  left: 20.5vw;
}
.table-wrapper {
  position: relative;
  left: 19rem;
  top: 18rem;
  overflow: hidden;
  width: 74rem
}


/* Filter.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap");
@import "~font-awesome/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap");

.input-container {
  position: absolute;
  display: inline-block;
  right: 0vw;
}

.input-field {
  border: none;
  outline: none;
  background: white;
  padding: 10px 10px 10px 30px;
  border-radius: 5px;
  width: 22rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  border-radius: 0.7rem;
  text-align: justify;
  color: rgba(169, 169, 177, 1);
}

.search-icon {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(169, 169, 177, 1);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.filter-style {
  position: absolute;
  top: 40vh;
  display: flex;
  flex-direction: row;
  width: 76.6vw;
  left: 20vw;
}

/* Style for active buttons */
.active-button {
  background-color: rgba(79, 120, 254, 1);
  color: white;
  border-radius: 0.5rem;
  padding: 10px 20px;
  margin: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.inactive-button {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(169, 169, 177, 1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 10px 20px;
  margin: 5px;
}
